/* Ureview-Me Widget style */
.reviewstream-rating .ureview-toggle-button {
	background: url(../images/review-text.png) no-repeat center 12px #698237;
    border: 2px solid #fff;
    padding: 0px;
    width: 66px;
    height: 240px;
    display: inline-block;
	
    -webkit-box-shadow: -5px 0px 12px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: -5px 0px 12px 0px rgba(0,0,0,0.20);
    box-shadow: -5px 0px 12px 0px rgba(0,0,0,0.20);
	
    color: #fff;
    font-size: 21px;
    position: relative;
    right: -3px;
	
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

}
.reviewstream-rating .ureview-toggle-button span {
	background: url(../images/star-rating.png) no-repeat center 4px #4e6128;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
	margin-top: 196px;
    margin-left: 19px;
}
.ureviews-widget .reviewmgr-stream {
    padding: 10px 10px !important
}
.reviewstream-rating {
	position:fixed;
	right:0px;
	bottom: 230px;
	z-index: 9999;
}
.reviewstream-rating #reviewstream .aggregate-text {
    font-size: 14px;
    opacity: 1;
    line-height: 20px;
	color:#000;
}
.reviewstream-rating #reviewstream .aggregate {
    padding: 10px 10px 0px;
    margin: 0px;
}
.reviewstream-rating #reviewstream-pager {
    display:none;
}
.reviewstream-rating #reviewstream-footer {
    display:none;
}
.reviewstream-rating .ureview-toggle-button {
	outline: none;
}
.ureviews-widget .aggregrate-rating-header .reviewmgr-stream {
	padding: 10px 20px!important;
}
.ureviews-widget .reviewmgr-header {
	display:none;
    width: 100%!important;
    height: 106px!important;
    z-index: 2147483002!important;
    background: #fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12)!important;
    position: absolute;
    top: 0!important;
    right: 0!important;
    padding-top: 0px;
    overflow: hidden;
}
.ureviews-widget .no-rating {
	text-align:center;
}
.reviewmgr-header h5 {
    font-size: 22px;
    color: #999 !important;
    font-weight: 700;
    margin: 10px 0px 10px 0px;
    line-height: 35px;
    padding: 28px 0px 0px 0px;
}
.ureviews-widget .reviewmgr-header #reviewstream .aggregate {
    padding: 0px 10px;
    margin: 10px;
}
.ureviews-widget .reviewmgr-header #reviewstream .aggregate-text {
    font-size: 14px;
    opacity: 1;
    line-height: 20px;
	color:#000;
}
.ureviews-widget .reviewmgr-content {
    overflow-y: auto!important;
	-webkit-overflow-scrolling: touch; 
    background: rgba(250,250,251,.98)!important;
    border-left: 1px solid #dadee2!important;
    top: 108px;
    position: absolute;
    width: 100%;
    right: 0;
	left: 0;
    bottom: 60px;
}
.ureviews-widget .ureview-popup {
	background:#fff;
    position: fixed!important;
    bottom: 0!important;
    right: 0!important;
    height: 0%;
    width: 420px!important;
    z-index: 2147483000!important;
	box-shadow: 0 1px 2px 2px rgba(0,0,0,.12)!important;
}
.ureviews-widget .reviewmgr-embed {
	overflow-y: auto!important;
    height: 300px;
}
.ureviews-widget .reviewmgr-footer {
	display:none;
    width: 100%!important;
    height: 60px!important;
    z-index: 2147483002!important;
    background: #fff!important;
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,.12)!important;
    position: absolute;
    bottom: 0!important;
    right: 0!important;
	padding-top: 0px;
    padding-left: 0px;
}
.ureviews-widget .reviewmgr-footer img {
	margin-top: 17px;
    margin-left: 17px;
}
.reviewmgr-writereview {
    display: none;
    text-align: right;
    width: 160px;
    margin: 0 auto;
    position: absolute;
    bottom: 11px;
    z-index: 2147483004!important;
    right: 10px;
}
.ureviews-widget .ureview-close-btn {
    color: #999;
    font-size: 28px;
	line-height: 22px;
    position: absolute;
    right: 15px;
	top: 5px;
    cursor: pointer;
    text-decoration: none !important;
    z-index: 1;
}
.ureviews-widget .ureview-close-btn:hover {
    color: #676666;
}

/* Responsive Styling */

@media only screen and (max-width: 1170px) {
	
	.reviewstream-rating {
		bottom: 150px;
	}

}
@media only screen and (max-width: 960px) {
	.reviewstream-rating {	
		position: fixed;
		bottom: -3px;
		left: 50%;
		right: auto;
		margin-left: -144px;
		height: 52px;
		width: 250px;
	}
	.reviewstream-rating .ureview-toggle-button {
		background: url(../images/mobile-reiew-text.png) no-repeat 50px 14px #698237;
    	width: 250px;
    	height: 52px;
    	display: inline-block;
		
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		
		-webkit-box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.20);
    	-moz-box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.20);
    	box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.20);
	}
	.reviewstream-rating .ureview-toggle-button span {
		background:url(../images/mobile-star-rating.png) no-repeat center 3px #4e6128;
		margin-top: 11px;
    	margin-left: 8px;
	}
	.ureviews-widget .reviewmgr-header #reviewstream .aggregate-text {
		font-size: 14px;
	}
}
@media only screen and (max-width: 480px) {
	.ureviews-widget .ureview-popup {
		width: 100%!important;
	 }
	 .reviewstream-rating {
	    left: 47.7%;
		margin-right: 0px;
		margin-left: -115px;
	}
	.ureviews-widget .reviewmgr-header #reviewstream .aggregate-text {
		font-size: 11px;
    	line-height: 16px;
    	padding-top: 5px;
	}
	
}

@media only screen and (max-width: 400px) {

	 .reviewstream-rating {
		margin-left: -120px;
	}
	
}
@media only screen and (max-width: 360px) {

	 .reviewmgr-writereview {
		width: auto;
		bottom: 11px;
	}
	.reviewmgr-footer img {
		width: 140px;
    	margin-top: 20px !important;
	}
	.ureviews-widget .reviewmgr-header #reviewstream .aggregate-text {
		font-size: 11px;
    	line-height: 16px;
    	padding-top: 5px;
	}
	.reviewmgr-header h5 {
		padding-top: 40px;
		font-size: 21px;
		color: #999 !important;
		font-weight: 700;
	}
	
}